<!DOCTYPE html>
<html lang="en">
<head>

    <title>Menu</title>
    <link rel="icon" type="image/png" href="../resource/img/icon.png"/>
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../resource/css/menu.css">
</head>
<body>
    
<div class="logo">
    <ul>
        <li>Andres Fernandez <i style="font-size: 15px;" class='bx bx-code-curly'></i></li>
    </ul>
</div>
    <article>
        <h1>APP NOTAS</h1>
    </article>
<div class="menu">
        <ul>
            <li>
               <a href="notas.html">Agregar</a> 
            </li>
            <li>
               <a href="show.notes.php">Mostrar</a> 
            </li>
        </ul>
</div>

</body>
</html>